.primaryText {
  font-family: "Inknut Antiqua", serif !important;
  font-weight: 700 !important;
  color: white !important;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.negativeText {
  font-family: "Inknut Antiqua", serif !important;
  font-weight: 700 !important;
  color: rgb(255, 1, 1) !important;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.positiveText {
  font-family: "Inknut Antiqua", serif !important;
  font-weight: 700 !important;
  color: greenyellow !important;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
