.itemImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.line {
  border: 2px solid #007bff; /* Blue line */
  position: absolute;
  z-index: 100;
  pointer-events: none; /* Prevent the line from blocking other clicks */
}
