<!-- ShopItem properties -->

<div
  [tooltip]="tooltipData"
  [position]="TooltipPosition.DYNAMICLEFT"
  class="flex flex-col w-full h-auto m-2"
>
  <button
    [disabled]="item.cost > inventoryState.tadpoles"
    (click)="buyPowerUp(item)"
    class="flex bg-black bg-opacity-40 rounded-md w-[64px] h-[64px] p-2 cursor-pointer"
    [ngClass]="
      item.cost > inventoryState.tadpoles ? 'opacity-50' : 'hover:bg-opacity-70'
    "
  >
    <div
      itemImage
      class="w-full h-full itemImage"
      [style.background-image]="
        'url(../../../assets/images/items/item-image-' +
        item.defaultItemId +
        '.png)'
      "
    ></div>
  </button>
</div>
