<div class="p-4 class flex-col h-full">
  <p class="primaryText text-xl flex">Choose an evolution</p>
  <div class="flex flex-col h-full">
    <div class="flex flex-row">
      <ng-container
        *ngFor="
          let element of frogItem.next_possible_element_choices;
          let i = index
        "
      >
        <div
          *ngIf="i < 3 && element !== ''"
          class="flex flex-col w-full mx-2 bg-black bg-opacity-40 h-auto rounded-md cursor-pointer p-4"
          (click)="selectOption(element)"
          [ngClass]="{ selected: selectedOption === element }"
          [ngStyle]="{
            border: selectedOption === element ? '2px solid white' : ''
          }"
        >
          <p class="primaryText">{{ element }} Frog</p>
          <div class="w-full h-full">
            <img
              class="frog-evolve-icon w-full"
              src="{{environment.assetsPath}}images/elements/element{{ element }}.png"
            />
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mt-4">
      <p *ngIf="selectedOption" class="primaryText text-md">
        {{ frogTexts[selectedOption] }}
      </p>

      <ul *ngIf="selectedOption">
        <li>
          <p class="primaryText">
            Generates {{ EVOLUTION_SHOP[frogItem.evolves_into].rate }} Tadpoles
            / s
          </p>
        </li>
      </ul>
    </div>
    <div class="w-full h-auto">
      <button
        [mat-dialog-close]="selectedOption"
        *ngIf="selectedOption"
        class="bg-green-600 py-2 px-5 rounded-md items-end flex m-auto justify-end"
      >
        <div class="primaryText flex h-full m-auto">Confirm Evolution</div>
      </button>
    </div>
  </div>
</div>
