<div class="w-full">
  <!-- Body -->
  <div class="w-screen min-h-screen h-screen bg-game">
    <!-- Columns container -->
    <div class="w-screen min-h-screen h-full flex-row flex">
      <!-- LeftColumn (Info section and FrogSection) -->
      <div class="w-1/4 min-h-screen h-full flex flex-col">
        <!-- Frog Section  -->
        <div
          class="w-full min-h-[50vh] h-[50vh] bg-black flex flex-col bg-opacity-25"
        >
          <!-- Counter -->
          <div class="flex h-auto w-full">
            <h1 class="text-white w-full text-center">1000</h1>
          </div>
          <div class="flex h-auto w-full">
            <h1 class="text-white w-full text-center">Tadpoles</h1>
          </div>

          <div class="flex w-full h-full justify-center">
            <button class="bg-frog h-full w-[70%] m-auto"></button>
          </div>
        </div>
        <!-- Info Section  -->
        <div
          class="w-full min-h-[50vh] h-[50vh] bg-black flex flex-col bg-opacity-40"
        ></div>
      </div>
      <!-- Middle Column ( Frogs section and header) -->
      <!-- Header -->
      <div
        class="w-1/2 min-h-screen h-full flex flex-col overflow-y-scroll scrollbar-hide"
      >
        <div class="flex w-full h-24 bg-black bg-opacity-30">
          <div class="flex flex-row w-full h-full">
            <div class="flex flex-col w-3/4 bg-red-300">
              <h1 class="text-xl primaryText">Guppy Bowl</h1>
              <h1>Frog Capacity : 1</h1>
              <h1>Tadpole Capacity : 200</h1>
            </div>
            <div class="flex w-1/4 bg-red-800"></div>
          </div>
        </div>
      </div>
      <!-- Right Column ( Shop ) -->
      <div
        class="w-1/4 min-h-screen h-full flex flex-col bg-red-500 opacity-25 overflow-y-scroll scrollbar-hide"
      ></div>
    </div>
  </div>
</div>
<!-- Centered  -->
<!-- <div class="flex justify-center">
    <div class="text-3xl font-bold">
      Current Tadpoles: -->

<!--
        from: previous value.
        countUp: current value.
        duration: duration of animation in milliseconds.
      -->
<!-- <p
        [from]="inventory.tadpolesPreviousState"
        [countUp]="(inventory.tadpoles)"
        [duration]="1000">
      </p>

    </div>
  </div>
  <div class="flex justify-center">
    <button class="w-20 h-10 bg-slate-300" (click)="spawn()">Spawn</button>
  </div>
  <div class="flex justify-center">
    <button
      [disabled]="
        inventory.tadpoles < evolveTadpoleShopItem.cost ||
        inventory.pond.frog_capacity <= frogsInInventory
      "
      (click)="evolveTadpole()"
      class="rounded-md bg-green-800 p-2"
    >
      Evolve tadpole
    </button>
  </div>

  <div *ngIf="inventory">
    <div class="w-full justify-center flex">
      <app-pond class="w-full"></app-pond>
    </div>
    <app-shop [inventoryState]="inventory"></app-shop>
  </div> -->
