<div class="w-full overflow-hidden">
  <!-- Body -->
  <div id="gameBodyElement" class="w-screen min-h-screen h-screen bg-game">
    <!-- Columns container -->
    <div class="w-screen min-h-screen h-full flex-row flex">
      <app-target></app-target>
      <!-- LeftColumn (Info section and FrogSection) -->
      <div class="w-1/4 min-h-screen h-full flex flex-col">
        <!-- Frog Section  -->
        <app-frog-king-section></app-frog-king-section>
        <!-- Info Section  -->
        <app-passives-section></app-passives-section>
        <div
          class="w-full min-h-[50vh] h-[50vh] bg-black flex flex-col bg-opacity-40 backdrop-blur-sm"
        ></div>
      </div>
      <!-- Middle Column ( Frogs section and header) -->
      <div class="w-1/2 h-full flex flex-col overflow-y-scroll scrollbar-hide">
        <!-- Header -->
        <app-header-section></app-header-section>
        <div class="mb-72">
          <div
            *ngFor="let frog of inventory.frogs | keyvalue; trackBy: trackFrog.bind(this, this.inventory)"
            class="w-full min-h-[180px]"
          >
            <app-frog-tile
              [inventoryState]="inventory"
              [frogItem]="frog.value"
            ></app-frog-tile>
          </div>
          <div *ngIf="inventory.pond.frog_capacity > frogsInInventory">
            <app-spawn-frog-tile></app-spawn-frog-tile>
          </div>
          <div *ngIf="inventory.pond.frog_capacity <= frogsInInventory">
            <app-pond-full-tile></app-pond-full-tile>
          </div>
        </div>
      </div>
      <!-- Right Column ( Shop ) -->
      <div
        class="w-1/4 min-w-[350px] min-h-screen h-full flex flex-col bg-black bg-opacity-40 overflow-y-scroll scrollbar-hide backdrop-blur-sm"
      >
        <app-shop [inventoryState]="inventory"></app-shop>
      </div>
    </div>
  </div>
</div>
<div class="absolute top-0 right-2 flex flex-row">
  <button class="flex h-12 w-12 p-1" (click)="openSettings()">
    <img
      [src]="environment.assetsPath + 'images/interface/settings-stroke.png'"
    />
  </button>
</div>
