.bg-game {
  background-image: url(../../../assets/images/o11z_9te6_210409.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-sound-icon {
  background-image: url(../../../assets/images/interface/sound-high.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-sound-icon-mute {
  background-image: url(../../../assets/images/interface/sound-off.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
