.tooltip {
  position: fixed;
  background-color: black;
  border-radius: 4px;
  color: #ffffff;
  font-family: Arial;
  padding: 3px 6px;
  font-size: 13px;
  margin-top: 5px;
  transform: translateX(-50%);

  &--below {
    transform: translateX(-50%);
    margin-top: 7px;
  }

  &--above {
    transform: translate(-50%, -100%);
    margin-bottom: 7px;
  }

  &--left {
    transform: translate(calc(-100% - 7px), -50%);
  }

  &--right {
    transform: translateY(-50%);
    margin-left: 7px;
  }
  &--dynamic {
    margin-left: 20px;

    &::before {
      display: none;
    }
  }
}
