<!-- Available shop items -->
<div class="flex flex-col w-full py-2 pl-4 leading-3">
  <p class="text-2xl primaryText">Shop</p>
  <div class="flex flex-col w-full h-auto overflow-y-scroll">
    <div upgradesSection class="flex w-full flex-col">
      <p class="flex text-xl primaryText">Frog Consumables</p>
      <div class="flex w-full h-auto max-h-[50vh]">
        <div class="grid grid-flow-row grid-cols-3">
          <ng-container *ngFor="let item of currentlyAvailablePowerUpShopItems">
            <div >
              <app-shop-item
                [inventoryState]="inventoryState"
                [item]="item"
              ></app-shop-item>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div pondUpgradeSection class="flex w-full mt-12 flex-col">
      <p class="text-xl primaryText">Pond Upgrades</p>
      <div class="flex w-full h-auto max-h-[50vh]">
        <div class="grid grid-flow-row grid-cols-3">
          <div *ngFor="let item of shop.items[SHOP_ITEM_TYPES.POND] | keyvalue">
            <app-shop-pond-item
              [inventoryState]="inventoryState"
              [item]="shop.items[SHOP_ITEM_TYPES.POND][item.key]"
            ></app-shop-pond-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
