<div class="w-full min-h-[50vh] h-[50vh] bg-black flex flex-col bg-opacity-25">
  <!-- Counter -->
  <div class="flex flex-col h-auto w-full leading-tight">
    <p
      class="flex text-white w-full text-center text-4xl primaryText justify-center"
    >
      1000
    </p>
    <p
      class="flex text-white w-full text-center text-md primaryText justify-center"
    >
      Tadpoles
    </p>
  </div>

  <div class="flex w-full h-full justify-center">
    <button class="bg-frog h-full w-[70%] m-auto"></button>
  </div>
  <div class="flex flex-col h-auto w-full leading-tight">
    <p
      class="flex text-white w-full text-center text-4xl primaryText justify-center"
    >
      21.2
    </p>
    <p
      class="flex text-white w-full text-center text-md primaryText justify-center"
    >
      Tadpoles / s
    </p>
  </div>
</div>
