<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="text-white">
      {{ frog.name }}
    </mat-card-title>
    <mat-card-subtitle>
      <button
        mat-button
        [disabled]="levelUpCost > inventory.tadpoles"
        (click)="levelUp()"
        style="padding: 0px"
      >
        Level: {{ frog.level }}
        <span> ({{ levelUpCost }} tadpoles) </span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="absolute right-4 top-2 text-white text-lg">
      <span class="text-2xl">
        {{ productionRate }}
      </span>
      tadpoles / s
    </div>
    <p class="pt-4 text-white">
      {{ frog.description }}
    </p>
    <div *ngFor="let powerUp of frog.power_ups">
      <p>Power Up: {{powerUp.name}}</p>
    </div>
    <!-- Evolution buttons -->
    <div class="pt-5">
      <div *ngFor="let evolution of frog.evolves_into">
        <button
          mat-button
          [disabled]="getEvolutionCost(evolution) > inventory.tadpoles"
          (click)="evolve(evolution)"
          class="bg-yellow-300"
        >
          Evolve into {{ getEvolutionName(evolution) }} ({{
            getEvolutionCost(evolution)
          }}
          tadpoles)
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
