<div class="w-full min-h-[50vh] h-[50vh] bg-black flex flex-col bg-opacity-40">
  <!-- Counter -->
  <div class="flex flex-col h-auto w-full leading-tight">
    <!--
        from: previous value.
        countUp: current value.
        duration: duration of animation in milliseconds.
      -->
    <p
      class="flex text-white w-full text-center text-4xl primaryText justify-center"
      [from]="inventory.tadpolesPreviousState"
      [countUp]="inventory.tadpoles"
      [duration]="1000"
    ></p>

    <p
      class="flex text-white w-full text-center text-md primaryText justify-center"
    >
      Tadpoles
    </p>
  </div>

  <div class="flex w-full h-full justify-center relative">
    <div class="bg-frog h-full w-[70%] m-auto" [@pulsate]="pulsateState"></div>
    <button
      class="h-full w-[70%] m-auto bg-transparent"
      (click)="spawn($event)"
      style="position: absolute; z-index: 1"
    ></button>
  </div>

  <div class="flex flex-col h-auto w-full leading-tight">
    <p
      class="flex text-white w-full text-center text-4xl primaryText justify-center"
    >
      {{ gameService.calculateTotalProductionRate() }}
    </p>
    <p
      class="flex text-white w-full text-center text-md primaryText justify-center"
    >
      Tadpoles / s
    </p>
  </div>
  <div class="flex flex-row h-auto w-full justify-evenly">
    <p
      class="flex primaryText w-full bg-black bg-opacity-20 text-center text-md primaryText justify-center primaryText h-full items-center"
    >
      King level: {{ inventory.frogKing.level }}
    </p>
    <button
      class="flex w-full h-full primaryText bg-black bg-opacity-20 justify-center hover:bg-opacity-40"
      [disabled]="production && inventory.tadpoles < getKingLevelUpCost()"
      (click)="levelUpKing()"
    >
      <p class="primaryText flex h-full items-center">
        Upgrade king {{ getKingLevelUpCost() }}
      </p>
    </button>
  </div>
  <div *ngFor="let power of inventory.frogKing.powerUps">
    {{ power.name }}
  </div>
</div>

<div
  *ngFor="let mark of hitmarks"
  class="absolute"
  [ngStyle]="{ 'left.px': mark.x, 'top.px': mark.y }"
>
  <div
    *ngIf="mark.visible"
    class="fade-in-out primaryText text-2xl absolute"
    [@fadeInOut]
    [@moveUp]
  >
    +{{ mark.tp }}
  </div>
</div>
