.tooltip {
  position: fixed;

  padding: 12px 12px;

  margin-top: 5px;
  transform: translateX(-50%);

  &--below {
    transform: translateX(-50%);
    margin-top: 7px;
  }

  &--above {
    transform: translate(-50%, -100%);
    margin-bottom: 7px;
  }

  &--left {
    transform: translate(calc(-100% - 7px), -50%);
  }

  &--right {
    transform: translateY(-50%);
    margin-left: 7px;
  }
  &--dynamic {
    margin-left: 20px;

    &::before {
      display: none;
    }
  }
}
.tooltip-item-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.currency-icon {
  background-image: url(../../../../assets/images/tadpole-currency.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
