/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");

@import "../src/app/styles/FK-scrollbar.scss";
@import "../src/app/styles/FK-primaryText.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inknut Antiqua", serif;
}
